[submodule "vendor/pivotal-jasmine"]
	path = vendor/pivotal-jasmine
	url = git://github.com/pivotal/jasmine
[submodule "vendor/jasmine"]
	path = vendor/jasmine
	url = git://github.com/pivotal/jasmine
